# coding: utf-8

"""
    data.world Public API (internal version)

    This is the internal version of the Swagger API generated from the Java                                             resource objects and is not visible to external users. It must be a superset                                             of the more user-friendly Swagger API maintained manually at                                             https://github.com/datadotworld/dwapi-spec.

    OpenAPI spec version: 0.21.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class PartnersApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def stitch_authorized(self, account, **kwargs):
        """
        Check whether user credentials allow write access to the specified data.world account.
        
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.stitch_authorized(account, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.stitch_authorized_with_http_info(account, **kwargs)
        else:
            (data) = self.stitch_authorized_with_http_info(account, **kwargs)
            return data

    def stitch_authorized_with_http_info(self, account, **kwargs):
        """
        Check whether user credentials allow write access to the specified data.world account.
        
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.stitch_authorized_with_http_info(account, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method stitch_authorized" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account' is set
        if ('account' not in params) or (params['account'] is None):
            raise ValueError("Missing the required parameter `account` when calling `stitch_authorized`")


        collection_formats = {}

        path_params = {}
        if 'account' in params:
            path_params['account'] = params['account']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['oauth']

        return self.api_client.call_api('/partners/stitchdata/uploads/{account}', 'HEAD',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def stitch_create_dataset(self, account, integration_name, **kwargs):
        """
        Create a target dataset if it doesn't exist already.
        
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.stitch_create_dataset(account, integration_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account: (required)
        :param str integration_name: (required)
        :return: DatasetIdentifierResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.stitch_create_dataset_with_http_info(account, integration_name, **kwargs)
        else:
            (data) = self.stitch_create_dataset_with_http_info(account, integration_name, **kwargs)
            return data

    def stitch_create_dataset_with_http_info(self, account, integration_name, **kwargs):
        """
        Create a target dataset if it doesn't exist already.
        
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.stitch_create_dataset_with_http_info(account, integration_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account: (required)
        :param str integration_name: (required)
        :return: DatasetIdentifierResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account', 'integration_name']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method stitch_create_dataset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account' is set
        if ('account' not in params) or (params['account'] is None):
            raise ValueError("Missing the required parameter `account` when calling `stitch_create_dataset`")
        # verify the required parameter 'integration_name' is set
        if ('integration_name' not in params) or (params['integration_name'] is None):
            raise ValueError("Missing the required parameter `integration_name` when calling `stitch_create_dataset`")


        collection_formats = {}

        path_params = {}
        if 'account' in params:
            path_params['account'] = params['account']
        if 'integration_name' in params:
            path_params['integrationName'] = params['integration_name']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['oauth']

        return self.api_client.call_api('/partners/stitchdata/uploads/{account}/{integrationName}', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='DatasetIdentifierResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def stitch_upload_manifest(self, account, integration_name, **kwargs):
        """
        Notify data.world that new files have been uploaded to S3.
        
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.stitch_upload_manifest(account, integration_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account: (required)
        :param str integration_name: (required)
        :return: DatasetIdentifierResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.stitch_upload_manifest_with_http_info(account, integration_name, **kwargs)
        else:
            (data) = self.stitch_upload_manifest_with_http_info(account, integration_name, **kwargs)
            return data

    def stitch_upload_manifest_with_http_info(self, account, integration_name, **kwargs):
        """
        Notify data.world that new files have been uploaded to S3.
        
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.stitch_upload_manifest_with_http_info(account, integration_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account: (required)
        :param str integration_name: (required)
        :return: DatasetIdentifierResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account', 'integration_name']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method stitch_upload_manifest" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account' is set
        if ('account' not in params) or (params['account'] is None):
            raise ValueError("Missing the required parameter `account` when calling `stitch_upload_manifest`")
        # verify the required parameter 'integration_name' is set
        if ('integration_name' not in params) or (params['integration_name'] is None):
            raise ValueError("Missing the required parameter `integration_name` when calling `stitch_upload_manifest`")


        collection_formats = {}

        path_params = {}
        if 'account' in params:
            path_params['account'] = params['account']
        if 'integration_name' in params:
            path_params['integrationName'] = params['integration_name']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['oauth']

        return self.api_client.call_api('/partners/stitchdata/uploads/{account}/{integrationName}/manifest', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='DatasetIdentifierResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
