# coding: utf-8

"""
    data.world Public API (internal version)

    This is the internal version of the Swagger API generated from the Java                                             resource objects and is not visible to external users. It must be a superset                                             of the more user-friendly Swagger API maintained manually at                                             https://github.com/datadotworld/dwapi-spec.

    OpenAPI spec version: 0.21.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class SqlApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def sql_describe(self, owner, id, body, **kwargs):
        """
        Describe a SQL query
        This endpoint describes what columns will be included if the given SQL query is performed against the specified dataset. New to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.sql_describe(owner, id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str owner: (required)
        :param str id: (required)
        :param SqlQueryRequest body: (required)
        :param str dialect:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.sql_describe_with_http_info(owner, id, body, **kwargs)
        else:
            (data) = self.sql_describe_with_http_info(owner, id, body, **kwargs)
            return data

    def sql_describe_with_http_info(self, owner, id, body, **kwargs):
        """
        Describe a SQL query
        This endpoint describes what columns will be included if the given SQL query is performed against the specified dataset. New to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.sql_describe_with_http_info(owner, id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str owner: (required)
        :param str id: (required)
        :param SqlQueryRequest body: (required)
        :param str dialect:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['owner', 'id', 'body', 'dialect']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sql_describe" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'owner' is set
        if ('owner' not in params) or (params['owner'] is None):
            raise ValueError("Missing the required parameter `owner` when calling `sql_describe`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sql_describe`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sql_describe`")

        if 'owner' in params and len(params['owner']) > 32:
            raise ValueError("Invalid value for parameter `owner` when calling `sql_describe`, number of items must be less than or equal to `32`")
        if 'owner' in params and len(params['owner']) < 0:
            raise ValueError("Invalid value for parameter `owner` when calling `sql_describe`, number of items must be greater than or equal to `0`")

        collection_formats = {}

        path_params = {}
        if 'owner' in params:
            path_params['owner'] = params['owner']
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []
        if 'dialect' in params:
            query_params.append(('dialect', params['dialect']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/x-ndjson', 'application/json', 'text/csv', 'application/json-l'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['oauth']

        return self.api_client.call_api('/sql/{owner}/{id}/describe', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def sql_get(self, owner, id, **kwargs):
        """
        SQL query (via GET)
        This endpoint executes SQL queries against a dataset. New to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.sql_get(owner, id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str owner: (required)
        :param str id: (required)
        :param bool include_table_schema:
        :param str query:
        :param str dialect:
        :param str queryruntoken: Query token to use with cancel
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.sql_get_with_http_info(owner, id, **kwargs)
        else:
            (data) = self.sql_get_with_http_info(owner, id, **kwargs)
            return data

    def sql_get_with_http_info(self, owner, id, **kwargs):
        """
        SQL query (via GET)
        This endpoint executes SQL queries against a dataset. New to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.sql_get_with_http_info(owner, id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str owner: (required)
        :param str id: (required)
        :param bool include_table_schema:
        :param str query:
        :param str dialect:
        :param str queryruntoken: Query token to use with cancel
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['owner', 'id', 'include_table_schema', 'query', 'dialect', 'queryruntoken']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sql_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'owner' is set
        if ('owner' not in params) or (params['owner'] is None):
            raise ValueError("Missing the required parameter `owner` when calling `sql_get`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sql_get`")

        if 'owner' in params and len(params['owner']) > 32:
            raise ValueError("Invalid value for parameter `owner` when calling `sql_get`, number of items must be less than or equal to `32`")
        if 'owner' in params and len(params['owner']) < 0:
            raise ValueError("Invalid value for parameter `owner` when calling `sql_get`, number of items must be greater than or equal to `0`")

        collection_formats = {}

        path_params = {}
        if 'owner' in params:
            path_params['owner'] = params['owner']
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []
        if 'include_table_schema' in params:
            query_params.append(('includeTableSchema', params['include_table_schema']))
        if 'query' in params:
            query_params.append(('query', params['query']))
        if 'dialect' in params:
            query_params.append(('dialect', params['dialect']))
        if 'queryruntoken' in params:
            query_params.append(('queryruntoken', params['queryruntoken']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/x-ndjson', 'application/json', 'text/csv', 'application/json-l'])

        # Authentication setting
        auth_settings = ['oauth']

        return self.api_client.call_api('/sql/{owner}/{id}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def sql_post_with_json_request(self, owner, id, body, **kwargs):
        """
        SQL query
        This endpoint executes SQL queries against a dataset. New to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.sql_post_with_json_request(owner, id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str owner: (required)
        :param str id: (required)
        :param SqlQueryRequest body: (required)
        :param str dialect:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.sql_post_with_json_request_with_http_info(owner, id, body, **kwargs)
        else:
            (data) = self.sql_post_with_json_request_with_http_info(owner, id, body, **kwargs)
            return data

    def sql_post_with_json_request_with_http_info(self, owner, id, body, **kwargs):
        """
        SQL query
        This endpoint executes SQL queries against a dataset. New to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.sql_post_with_json_request_with_http_info(owner, id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str owner: (required)
        :param str id: (required)
        :param SqlQueryRequest body: (required)
        :param str dialect:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['owner', 'id', 'body', 'dialect']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sql_post_with_json_request" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'owner' is set
        if ('owner' not in params) or (params['owner'] is None):
            raise ValueError("Missing the required parameter `owner` when calling `sql_post_with_json_request`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `sql_post_with_json_request`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `sql_post_with_json_request`")

        if 'owner' in params and len(params['owner']) > 32:
            raise ValueError("Invalid value for parameter `owner` when calling `sql_post_with_json_request`, number of items must be less than or equal to `32`")
        if 'owner' in params and len(params['owner']) < 0:
            raise ValueError("Invalid value for parameter `owner` when calling `sql_post_with_json_request`, number of items must be greater than or equal to `0`")

        collection_formats = {}

        path_params = {}
        if 'owner' in params:
            path_params['owner'] = params['owner']
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []
        if 'dialect' in params:
            query_params.append(('dialect', params['dialect']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/x-ndjson', 'application/json', 'text/csv', 'application/json-l'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['oauth']

        return self.api_client.call_api('/sql/{owner}/{id}', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
