{
  "swagger": "2.0",
  "info": {
    "version": "0.14.1",
    "title": "data.world API",
    "termsOfService": "https://data.world/terms",
    "contact": {
      "name": "data.world",
      "url": "https://data.world",
      "email": "help@data.world"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "description": "data.world is designed for data and the people who work with data.  From professional projects to open data, data.world helps you host and share your data, collaborate with your team, and capture context and conclusions as you work.  \nUsing this API users are able to easily access data and manage their data projects regardless of language or tool of preference. \nCheck out our [documentation](https://dwapi.apidocs.io) for tips on how to get started, tutorials and to interact with the API right within your browser.",
    "x-stoplight": {
      "id": "data-world/specs/data-world"
    }
  },
  "host": "api.data.world",
  "basePath": "/v0",
  "tags": [
    {
      "name": "datasets"
    },
    {
      "name": "download"
    },
    {
      "name": "uploads"
    },
    {
      "name": "sparql"
    },
    {
      "name": "sql"
    },
    {
      "name": "user"
    },
    {
      "name": "streams"
    },
    {
      "name": "projects"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/streams/{owner}/{id}/{streamId}": {
      "post": {
        "tags": [
          "streams"
        ],
        "summary": "Append records to a stream.",
        "operationId": "appendRecords",
        "consumes": [
          "application/json-l",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "$ref": "#/parameters/streamId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-examples": {
              "application/json": "{\r\n  \"someProperty\": \"someValue\",\r\n  \"aNumericProperty\": 42,\r\n  \"aBooleanProperty\": false\r\n}"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Record(s) accepted."
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "This endpoint appends JSON data to a stream associated with a dataset. Streams don't need to be created before you can append data to it. They will be created on-demand, the first time they are used.\n\nMultiple records can be appended at once by using JSON-L (`application/json-l`) as the request content type.\n\nCurrently, data uploaded to a dataset via a stream is not immediatelly processed. Instead, it is processed automatically at least once a day or as a result of a \"Sync files\" endpoint invocation.\n\nOnce processed, the contents of a stream will appear as part of the respective dataset as a `.jsonl` file (e.g. `my-stream` will produce a file named `my-stream.jsonl`)."
      }
    },
    "/download/{owner}/{id}": {
      "get": {
        "tags": [
          "download"
        ],
        "summary": "Download dataset",
        "description": "This endpoint will return a .zip containing all files within the dataset as originally uploaded.  \nIf you are interested retrieving clean data extracted from those files by data.world, check out `GET:/sql` and `GET:/sparql`.",
        "operationId": "downloadDataset",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          }
        ],
        "responses": {
          "200": {
            "description": "__OK__\nThe request has succeeded."
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ]
      }
    },
    "/file_download/{owner}/{id}/{file}": {
      "get": {
        "tags": [
          "download"
        ],
        "summary": "Download file",
        "description": "This endpoint will return a file within the dataset as originally uploaded.  \nIf you are interested retrieving clean data extracted from those files by data.world, check out `GET:/sql` and `GET:/sparql`.",
        "operationId": "downloadFile",
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "$ref": "#/parameters/file"
          }
        ],
        "responses": {
          "200": {
            "description": "__OK__\nThe request has succeeded."
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ]
      }
    },
    "/sparql/{owner}/{id}": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "SPARQL query (via GET)",
        "description": "This endpoint executes SPARQL queries against a dataset or data project.\n\nSPARQL results are available in a variety of formats. By default, `application/sparql-results+json` will be returned. Set the `Accept` header to one of the following values in accordance with your preference:\n\n- `application/sparql-results+xml`\n- `application/sparql-results+json`\n- `application/rdf+json`\n- `application/rdf+xml`\n- `text/csv`\n- `text/tab-separated-values`\n\nNew to SPARQL? Check out data.world’s[SPARQL tutorial](https://docs.data.world/tutorials/sparql/).",
        "operationId": "sparqlGet",
        "produces": [
          "application/sparql-results+json",
          "application/sparql-results+xml",
          "application/rdf+json",
          "application/rdf+xml",
          "text/tab-separated-values",
          "text/csv"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "$ref": "#/parameters/query"
          }
        ],
        "responses": {
          "200": {
            "description": "__OK__\nThe request has succeeded."
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ]
      },
      "post": {
        "tags": [
          "sparql"
        ],
        "summary": "SPARQL query",
        "description": "This endpoint executes SPARQL queries against a dataset or data project.  \n\nSPARQL results are available in a variety of formats. By default, `application/sparql-results+json` will be returned. Set the `Accept` header to one of the following values in accordance with your preference:\n\n- `application/sparql-results+xml`\n- `application/sparql-results+json`\n- `application/rdf+json`\n- `application/rdf+xml`\n- `text/csv`\n- `text/tab-separated-values`\n\nNew to SPARQL? Check out data.world's [SPARQL tutorial](https://docs.data.world/tutorials/sparql/).",
        "operationId": "sparqlPost",
        "produces": [
          "application/sparql-results+json",
          "application/sparql-results+xml",
          "application/rdf+json",
          "application/rdf+xml",
          "text/tab-separated-values",
          "text/csv"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "$ref": "#/parameters/formQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "__OK__\nThe request has succeeded.",
            "examples": {
              "application/x-www-form-urlencoded": "{}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ]
      }
    },
    "/sql/{owner}/{id}": {
      "get": {
        "tags": [
          "sql"
        ],
        "summary": "SQL query (via GET)",
        "description": "This endpoint executes SQL queries against a dataset.\n\nSQL results are available in a variety of formats. By default, `application/json` will be returned. Set the `Accept` header to one of the following values in accordance with your preference:\n\n* `text/csv`\n* `application/json`\n* `application/json-l`\n* `application/x-ndjson`\n\nNew to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .",
        "operationId": "sqlGet",
        "produces": [
          "application/json",
          "application/json-l",
          "application/x-ndjson",
          "text/csv"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "$ref": "#/parameters/includeTableSchema"
          }
        ],
        "responses": {
          "200": {
            "description": "__OK__\nThe request has succeeded."
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ]
      },
      "post": {
        "tags": [
          "sql"
        ],
        "summary": "SQL query",
        "description": "This endpoint executes SQL queries against a dataset.\n\nSQL results are available in a variety of formats. By default, `application/json` will be returned. Set the `Accept` header to one of the following values in accordance with your preference:\n\n* `text/csv`\n* `application/json`\n* `application/json-l`\n* `application/x-ndjson`\n\nNew to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .",
        "operationId": "sqlPost",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/json-l",
          "application/x-ndjson",
          "text/csv"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "$ref": "#/parameters/formQuery"
          },
          {
            "$ref": "#/parameters/includeTableSchema"
          }
        ],
        "responses": {
          "200": {
            "description": "__OK__\nThe request has succeeded."
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ]
      }
    },
    "/datasets/{owner}": {
      "post": {
        "tags": [
          "datasets"
        ],
        "summary": "Create a dataset",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasetCreateRequest"
            },
            "x-examples": {
              "application/json": "{\r\n  \"title\": \"data.world basketball team\",\r\n  \"description\": \"Fake data.world basketball team players and stats\",\r\n  \"summary\": \"This dataset involves some fake information about the totally fake data.world intramural basketball team.\",\r\n  \"tags\": [\r\n    \"sports\", \"datadotworld\", \"basketball\"\r\n  ],\r\n  \"license\": \"PDDL\",\r\n  \"visibility\": \"OPEN\",\r\n  \"files\": [\r\n    {\r\n      \"name\": \"DataDotWorldBBallTeam.csv\",\r\n      \"source\": {\r\n        \"url\": \"https://docs.google.com/spreadsheets/d/1UheyB6pxTCfLpRmIGITM0fKb8jHVEvPuajmuejxxRyE/pub?gid=1371600687&single=true&output=csv\"\r\n      },\r\n      \"description\": \"Stats about about our purely fictitious basketball team\",\r\n      \"labels\": [\r\n        \"raw data\", \"clean data\"\r\n      ]\r\n    }\r\n  ]\r\n}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CreateDatasetResponse"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "409": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**CONFLICT**\nThe request could not be completed due to a conflict with the current state of the resource.\nFor example, this may occur for a short period of time after deleting a dataset with the same datasetId as the dataset being created."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "Create a new dataset.",
        "operationId": "createDataset"
      }
    },
    "/datasets/{owner}/{id}": {
      "delete": {
        "tags": [
          "datasets"
        ],
        "operationId": "deleteDataset",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"Dataset has been successfully deleted.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Permanently deletes a dataset and all data associated with it. This operation cannot be undone, although a new dataset may be created with the same id.",
        "summary": "Delete a dataset"
      },
      "get": {
        "tags": [
          "datasets"
        ],
        "summary": "Retrieve a dataset",
        "operationId": "getDataset",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DatasetSummaryResponse"
            },
            "examples": {
              "application/json": {
                "owner": "sya",
                "id": "trumpworld",
                "title": "TrumpWorld",
                "description": "TrumpWorld Data",
                "summary": "From the Buzzfeed article [Help Us Map TrumpWorld](https://www.buzzfeed.com/johntemplon/help-us-map-trumpworld)\n>No American president has taken office with a giant network of businesses, investments, and corporate connections like that amassed by Donald J. Trump. His family and advisers have touched a staggering number of ventures, from a hotel in Azerbaijan to a poker company in Las Vegas.\n\n\nCheck out the data.world docs on how to Upload & sync files from [**Google Sheets**](https://docs.data.world/documentation/api/googleSync.html) and [**Github**](https://docs.data.world/documentation/api/githubSync.html)   \n\n\nSource: [github.com/BuzzFeedNews](https://github.com/BuzzFeedNews/trumpworld/tree/master/data)   \n\n_If you have suggestions for expanding or improving the dataset, please email trump@buzzfeed.com. If you’d like to send your tip securely and anonymously, see these [instructions](https://tips.buzzfeed.com/)._",
                "tags": [
                  "trump",
                  "trump world",
                  "president",
                  "connections",
                  "swamp",
                  "business network"
                ],
                "visibility": "OPEN",
                "files": [
                  {
                    "name": "org-org-connections.csv",
                    "sizeInBytes": 97658,
                    "source": {
                      "id": "bfbac3bb-9cec-410a-9ac4-c904a56d65fe",
                      "url": "https://raw.githubusercontent.com/BuzzFeedNews/trumpworld/master/data/org-org-connections.csv",
                      "syncStatus": "OK",
                      "lastSyncStart": "2017-02-06T22:55:15.242Z",
                      "lastSyncSuccess": "2017-02-06T22:55:15.258Z",
                      "lastSyncFailure": "2017-02-01T23:47:47.667Z"
                    },
                    "created": "2017-02-01T23:45:12.379Z",
                    "updated": "2017-02-03T16:05:03.241Z"
                  },
                  {
                    "name": "person-org-connections.csv",
                    "sizeInBytes": 231637,
                    "source": {
                      "id": "91cf66e3-4bd7-422f-a8ec-7de1b68f8ee1",
                      "url": "https://raw.githubusercontent.com/BuzzFeedNews/trumpworld/master/data/person-org-connections.csv",
                      "syncStatus": "OK",
                      "lastSyncStart": "2017-02-06T22:55:15.242Z",
                      "lastSyncSuccess": "2017-02-06T22:55:15.310Z"
                    },
                    "created": "2017-02-01T23:51:02.777Z",
                    "updated": "2017-02-03T16:05:03.241Z"
                  },
                  {
                    "name": "person-person-connections.csv",
                    "sizeInBytes": 32556,
                    "source": {
                      "id": "b1e0659b-c282-408a-893a-14b5e5a1ae4c",
                      "url": "https://raw.githubusercontent.com/BuzzFeedNews/trumpworld/master/data/person-person-connections.csv",
                      "syncStatus": "OK",
                      "lastSyncStart": "2017-02-06T22:55:15.242Z",
                      "lastSyncSuccess": "2017-02-06T22:55:15.361Z"
                    },
                    "created": "2017-02-01T23:51:32.492Z",
                    "updated": "2017-02-03T16:05:03.241Z"
                  }
                ],
                "status": "LOADED",
                "created": "2017-02-01T22:33:58.809Z",
                "updated": "2017-02-06T22:55:19.128Z",
                "isProject": false,
                "accessLevel": "READ"
              }
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Return details on the dataset."
      },
      "put": {
        "tags": [
          "datasets"
        ],
        "operationId": "replaceDataset",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasetPutRequest"
            },
            "x-examples": {
              "application/json": "{\n  \"description\": \"2017 data.world basketball program\",\n  \"summary\": \"Fake data.world basketball team players and stats. Includes 2016 and 2017 team\",\n  \"tags\": [\n    \"basketball\"\n  ],\n  \"visibility\": \"OPEN\",\n  \"files\": [\n    {\n      \"name\": \"DataDotWorld2017BBallTeam.csv\",\n      \"source\": {\n        \"url\": \"https://docs.google.com/spreadsheets/d/1UheyB6pxTCfLpRmIGITM0fKb8jHVEvPuajmuejxxRyE/pub?gid=1371600687&single=true&output=csv\"\n      },\n      \"description\": \"Purely fictitious performance data on our purely fictitious data.world basketball team.\",\n      \"labels\": [\n        \"raw data\", \"clean data\"\n      ]\n    }\n  ]\n}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"Dataset has been successfully replaced.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "Create a dataset with a given id or completely rewrite the dataset, including any previously added files, if one already exists with the given id.",
        "summary": "Create / Replace a dataset"
      },
      "patch": {
        "tags": [
          "datasets"
        ],
        "summary": "Update a dataset",
        "operationId": "patchDataset",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasetPatchRequest"
            },
            "x-examples": {
              "application/json": "{\r\n  \"description\": \"2017 data.world basketball program\",\r\n  \"summary\": \"Fake data.world basketball team players and stats. Includes 2016 and 2017 team\",\r\n  \"tags\": [\r\n    \"basketball\"\r\n  ],\r\n  \"files\": [\r\n    {\r\n      \"name\": \"DataDotWorld2017BBallTeam.csv\",\r\n      \"source\": {\r\n        \"url\": \"https://docs.google.com/spreadsheets/d/1UheyB6pxTCfLpRmIGITM0fKb8jHVEvPuajmuejxxRyE/pub?gid=1371600687&single=true&output=csv\"\r\n      },\r\n      \"description\": \"Purely fictitious performance data on our purely fictitious data.world basketball team.\",\r\n      \"labels\": [\r\n        \"raw data\", \"clean data\"\r\n      ]\r\n    }\r\n  ]\r\n}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"Dataset successfully updated.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Update an existing dataset. Note that only elements or files included in the request will be updated. All omitted elements or files will remain untouched.",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/datasets/{owner}/{id}/files": {
      "post": {
        "tags": [
          "datasets"
        ],
        "summary": "Add files",
        "operationId": "addFilesBySource",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileBatchUpdateRequest"
            },
            "x-examples": {
              "application/json": "{\n  \"files\": [\n    {\n      \"name\": \"DataDotWorldBBallTeam.csv\",\n      \"source\": {\n        \"url\": \"https://docs.google.com/spreadsheets/d/1UheyB6pxTCfLpRmIGITM0fKb8jHVEvPuajmuejxxRyE/pub?gid=1371600687&single=true&output=csv\"\n      },\n      \"description\": \"Purely fictitious performance data on our purely fictitious data.world basketball team.\",\n      \"labels\": [\n        \"raw data\",\n        \"clean data\"\n      ]\n    },\n    {\n      \"name\": \"DataDotWorldBBallStats.csv\",\n      \"source\": {\n        \"url\": \"https://raw.githubusercontent.com/rebeccaclay/test-repo/master/DataDotWorldBBallStats.csv\"\n      },\n      \"description\": \"Stats about about our purely fictitious basketball team\",\n      \"labels\": [\n        \"raw data\",\n        \"clean data\"\n      ]\n    }\n  ]\n}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"Dataset has been successfully updated with new sources. Sync in progress.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "This method allows files published on the web to be added to a data.world dataset via their URL. The source URL will be stored so you can easily update your file anytime it changes via the *fetch latest* link on the [data.world](https://data.world/) dataset page or by triggering the GET:/sync endpoint.  \nCheck-out or tutorials for tips on how to add Google Sheets, GitHub and S3 files via URL and how to use webhooks or scripts to keep them always in sync."
      },
      "delete": {
        "tags": [
          "datasets"
        ],
        "summary": "Delete files",
        "operationId": "deleteFilesAndSyncSources",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Names of files to be deleted. Multiple can be provided in a single request by repeating the query string parameter name as many times as necessary.",
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"Dataset files have been successfully deleted.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Delete one or more files from a dataset by their name, including files added via URL.   \n\n**Batching**  \nNote that the `name` parameter can be include multiple times in the query string, once for each file that is to be deleted together in a single request."
      }
    },
    "/datasets/{owner}/{id}/files/{name}": {
      "delete": {
        "tags": [
          "datasets"
        ],
        "summary": "Delete a file",
        "operationId": "deleteFileAndSyncSource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name and unique idenfiier of file within the dataset.",
            "required": true,
            "type": "string",
            "maxItems": 128,
            "minItems": 1
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"Dataset file has been successfully deleted.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Delete a single file from a dataset by their name, including files added via URL."
      }
    },
    "/datasets/{owner}/{id}/sync": {
      "get": {
        "tags": [
          "datasets"
        ],
        "summary": "Sync files (via GET)",
        "operationId": "syncViaGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"Sync started.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Update all files within a dataset that have originally been added via URL (e.g. via /datasets endpoints or on data.world). \nCheck-out or tutorials for tips on how to add Google Sheets, GitHub and S3 files via URL and how to use webhooks or scripts to keep them always in sync."
      },
      "post": {
        "tags": [
          "datasets"
        ],
        "summary": "Sync files",
        "operationId": "sync",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"Sync started.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Update all files within a dataset that have originally been added via URL (e.g. via /datasets endpoints or on data.world).  \nCheck-out or tutorials for tips on how to add Google Sheets, GitHub and S3 files via URL and how to use webhooks or scripts to keep them always in sync."
      }
    },
    "/uploads/{owner}/{id}/files": {
      "post": {
        "tags": [
          "uploads"
        ],
        "summary": "Upload files",
        "description": "Upload multiple files at once to a dataset via multipart request.\n\nThis endpoint expects requests of type `multipart/form-data` and you can include one or more parts named `file`, each containing a different file to be uploaded.\n\nFor example, assuming that, you want to upload two local files named `file1.csv` and `file2.csv` to a hypothetical dataset `https://data.world/awesome-user/awesome-dataset`, this is what the cURL command would look like.\n\n```bash\ncurl \\\n  -H \"Authorization: Bearer <YOUR_API_TOKEN>\" \\\n  -F \"file=@file1.csv\" \\\n  -F \"file=@file2.csv\" \\\n  https://api.data.world/v0/uploads/awesome-user/awesome-dataset/files\n```\n\nSwagger clients will limit this method of upload to one file at a time. Other HTTP clients capable of making multipart/form-data requests can be used to upload multiple files in a single request.",
        "operationId": "uploadFiles",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "Multipart-encoded file contents",
            "required": true,
            "type": "file"
          },
          {
            "in": "query",
            "name": "expandArchives",
            "type": "boolean",
            "default": false,
            "description": "Indicates whether compressed files should be expanded upon upload."
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"File(s) uploaded.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "413": {
            "description": "**PAYLOAD TOO LARGE**\nThe server is refusing to process a request because the request payload is larger than the server is willing or able to process.",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ]
      }
    },
    "/uploads/{owner}/{id}/files/{name}": {
      "put": {
        "tags": [
          "uploads"
        ],
        "summary": "Upload file",
        "description": "Upload one file at a time to a dataset.\n\nThis endpoint expects requests of type `application/octet-stream`.\n\nFor example, assuming that you want to upload a local file named `file1.csv` to a hypothetical dataset `https://data.world/awesome-user/awesome-dataset` and choose its name on data.world to be `better-name.csv`, this is what the cURL command would look like.\n\n```bash\ncurl \\\n  -H \"Authorization: Bearer <YOUR_API_TOKEN>\" \\\n  -X PUT -H \"Content-Type: application/octet-stream\" \\\n  --data-binary @file1.csv \\\n  https://api.data.world/v0/uploads/awesome-user/awesome-dataset/files/better-name.csv\n```\n\nThis method of upload is typically not supported by Swagger clients. Other HTTP clients can be used to supply the contents of the file directly in the body of the request.",
        "operationId": "uploadFile",
        "consumes": [
          "application/octet-stream",
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/owner"
          },
          {
            "$ref": "#/parameters/datasetId"
          },
          {
            "name": "name",
            "in": "path",
            "description": "File name and unique identifier within dataset.",
            "required": true,
            "type": "string",
            "maxItems": 128,
            "minItems": 1
          },
          {
            "in": "query",
            "name": "expandArchive",
            "type": "boolean",
            "default": false,
            "description": "Indicates whether a compressed file should be expanded upon upload."
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            },
            "examples": {
              "application/json": "{\n  \"message\": \"File uploaded.\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "413": {
            "description": "**PAYLOAD TOO LARGE**\nThe server is refusing to process a request because the request payload is larger than the server is willing or able to process.",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ]
      }
    },
    "/user": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user data",
        "operationId": "getUserData",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UserDataResponse"
            },
            "examples": {
              "application/json": "{\n    \"avatarUrl\": \"https://cdn.filepicker.io/api/file/m0Y31H2NRq6byi22ApUs\",\n    \"displayName\": \"Rafael Pereira\",\n    \"id\": \"rflprr\",\n    \"created\": \"2016-06-13T22:38:29.412Z\",\n    \"updated\": \"2017-01-31T17:01:49.847Z\"\n}"
            }
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Return profile information for the currently authenticated user."
      }
    },
    "/user/datasets/contributing": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "List datasets as contributor",
        "operationId": "fetchContributingDatasets",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/next"
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PaginatedDatasetResults"
            },
            "examples": {
              "application/json": "{\n  \"count\": 2,\n  \"records\": [\n    {\n      \"owner\": \"bryonjacob\",\n      \"id\": \"f-o-o\",\n      \"title\": \"f-o-o\",\n      \"description\": \"why do my datasets have to be at least 5 chars in length\",\n      \"tags\": [],\n      \"license\": \"CC-0\",\n      \"visibility\": \"PRIVATE\",\n      \"files\": [\n        {\n          \"name\": \"foo.csv\",\n          \"sizeInBytes\": 56,\n          \"created\": \"2016-06-09T21:56:06.943Z\",\n          \"updated\": \"2016-06-09T21:56:06.943Z\"\n        }\n      ],\n      \"status\": \"LOADED\",\n      \"created\": \"2016-06-09T21:55:58.002Z\",\n      \"updated\": \"2017-04-19T15:35:30.791Z\"\n    },\n    {\n      \"owner\": \"eric-capps\",\n      \"id\": \"zooblesnarb\",\n      \"title\": \"zooblesnarb\",\n      \"description\": \"test\",\n      \"tags\": [\n        \"bap\"\n      ],\n      \"visibility\": \"OPEN\",\n      \"files\": [],\n      \"created\": \"2016-11-02T21:18:58.696Z\",\n      \"updated\": \"2016-11-11T16:56:30.714Z\"\n    }\n  ],\n  \"next\": \"eyJyZXNvdXJjZSI6eyJzIjoiZGF0YXNldDplcmljLWNhcHBzL3pvb2JsZXNuYXJiIn0sInBhcnR5Ijp7InMiOiJhZ2VudDp1c2VyOCJ9fQ==\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Fetch datasets that the currently authenticated user has access to because he or she is a contributor."
      }
    },
    "/user/datasets/liked": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "List liked datasets",
        "operationId": "fetchLikedDatasets",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/next"
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PaginatedDatasetResults"
            },
            "examples": {
              "application/json": "{\n  \"count\": 2,\n  \"records\": [\n    {\n      \"owner\": \"bryonjacob\",\n      \"id\": \"f-o-o\",\n      \"title\": \"f-o-o\",\n      \"description\": \"why do my datasets have to be at least 5 chars in length\",\n      \"tags\": [],\n      \"license\": \"CC-0\",\n      \"visibility\": \"PRIVATE\",\n      \"files\": [\n        {\n          \"name\": \"foo.csv\",\n          \"sizeInBytes\": 56,\n          \"created\": \"2016-06-09T21:56:06.943Z\",\n          \"updated\": \"2016-06-09T21:56:06.943Z\"\n        }\n      ],\n      \"status\": \"LOADED\",\n      \"created\": \"2016-06-09T21:55:58.002Z\",\n      \"updated\": \"2017-04-19T15:35:30.791Z\"\n    },\n    {\n      \"owner\": \"eric-capps\",\n      \"id\": \"zooblesnarb\",\n      \"title\": \"zooblesnarb\",\n      \"description\": \"test\",\n      \"tags\": [\n        \"bap\"\n      ],\n      \"visibility\": \"OPEN\",\n      \"files\": [],\n      \"created\": \"2016-11-02T21:18:58.696Z\",\n      \"updated\": \"2016-11-11T16:56:30.714Z\"\n    }\n  ],\n  \"next\": \"eyJyZXNvdXJjZSI6eyJzIjoiZGF0YXNldDplcmljLWNhcHBzL3pvb2JsZXNuYXJiIn0sInBhcnR5Ijp7InMiOiJhZ2VudDp1c2VyOCJ9fQ==\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Fetch datasets that the currently authenticated user likes."
      }
    },
    "/user/datasets/own": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "List datasets as owner",
        "operationId": "fetchDatasets",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/next"
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PaginatedDatasetResults"
            },
            "examples": {
              "application/json": "{\n  \"count\": 2,\n  \"records\": [\n    {\n      \"owner\": \"bryonjacob\",\n      \"id\": \"f-o-o\",\n      \"title\": \"f-o-o\",\n      \"description\": \"why do my datasets have to be at least 5 chars in length\",\n      \"tags\": [],\n      \"license\": \"CC-0\",\n      \"visibility\": \"PRIVATE\",\n      \"files\": [\n        {\n          \"name\": \"foo.csv\",\n          \"sizeInBytes\": 56,\n          \"created\": \"2016-06-09T21:56:06.943Z\",\n          \"updated\": \"2016-06-09T21:56:06.943Z\"\n        }\n      ],\n      \"status\": \"LOADED\",\n      \"created\": \"2016-06-09T21:55:58.002Z\",\n      \"updated\": \"2017-04-19T15:35:30.791Z\"\n    },\n    {\n      \"owner\": \"eric-capps\",\n      \"id\": \"zooblesnarb\",\n      \"title\": \"zooblesnarb\",\n      \"description\": \"test\",\n      \"tags\": [\n        \"bap\"\n      ],\n      \"visibility\": \"OPEN\",\n      \"files\": [],\n      \"created\": \"2016-11-02T21:18:58.696Z\",\n      \"updated\": \"2016-11-11T16:56:30.714Z\"\n    }\n  ],\n  \"next\": \"eyJyZXNvdXJjZSI6eyJzIjoiZGF0YXNldDplcmljLWNhcHBzL3pvb2JsZXNuYXJiIn0sInBhcnR5Ijp7InMiOiJhZ2VudDp1c2VyOCJ9fQ==\"\n}"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "description": "Fetch datasets that the currently authenticated user has access to because he or she is the owner of the dataset."
      }
    },
    "/projects/{owner}/{id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProjectSummaryResponse"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "produces": [
          "application/json"
        ],
        "summary": "Retrieve a project",
        "operationId": "getProject",
        "security": [
          {
            "token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/projectOwner"
          },
          {
            "$ref": "#/parameters/projectId"
          }
        ],
        "description": "Return details on a project."
      },
      "put": {
        "tags": [
          "projects"
        ],
        "responses": {
          "200": {
            "description": "**OK**\nThe request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid."
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema."
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "description": "**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ProjectCreateRequest"
            }
          },
          {
            "$ref": "#/parameters/projectOwner"
          },
          {
            "$ref": "#/parameters/projectId"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Create / Replace a project",
[...]
