{"swagger":"2.0","info":{"description":"data.world is designed for data and the people who work with data.  From professional projects to open data, data.world helps you host and share your data, collaborate with your team, and capture context and conclusions as you work.  \nUsing this API users are able to easily access data and manage their data projects regardless of language or tool of preference. \nCheck out our [documentation](https://dwapi.apidocs.io) for tips on how to get started, tutorials and to interact with the API right within your browser.","version":"0.13.4","title":"data.world API","termsOfService":"https://data.world/terms","contact":{"name":"data.world","url":"https://data.world","email":"help@data.world"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"x-stoplight":{"id":"data-world/specs/data-world"}},"host":"api.data.world","basePath":"/v0","tags":[{"name":"datasets"},{"name":"download"},{"name":"uploads"},{"name":"sparql"},{"name":"sql"},{"name":"user"},{"name":"streams"},{"name":"projects"}],"schemes":["https"],"paths":{"/datasets/{owner}":{"post":{"tags":["datasets"],"summary":"Create a dataset","description":"Create a new dataset.","operationId":"createDataset","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/DatasetCreateRequest"},"x-examples":{"application/json":"{\r\n  \"title\": \"data.world basketball team\",\r\n  \"description\": \"Fake data.world basketball team players and stats\",\r\n  \"summary\": \"This dataset involves some fake information about the totally fake data.world intramural basketball team.\",\r\n  \"tags\": [\r\n    \"sports\", \"datadotworld\", \"basketball\"\r\n  ],\r\n  \"license\": \"PDDL\",\r\n  \"visibility\": \"OPEN\",\r\n  \"files\": [\r\n    {\r\n      \"name\": \"DataDotWorldBBallTeam.csv\",\r\n      \"source\": {\r\n        \"url\": \"https://docs.google.com/spreadsheets/d/1UheyB6pxTCfLpRmIGITM0fKb8jHVEvPuajmuejxxRyE/pub?gid=1371600687&single=true&output=csv\"\r\n      },\r\n      \"description\": \"Stats about about our purely fictitious basketball team\",\r\n      \"labels\": [\r\n        \"raw data\", \"clean data\"\r\n      ]\r\n    }\r\n  ]\r\n}"}}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/CreateDatasetResponse"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"409":{"description":"**CONFLICT**\nThe request could not be completed due to a conflict with the current state of the resource.\nFor example, this may occur for a short period of time after deleting a dataset with the same datasetId as the dataset being created.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/datasets/{owner}/{id}":{"get":{"tags":["datasets"],"summary":"Retrieve a dataset","description":"Return details on the dataset.","operationId":"getDataset","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/DatasetSummaryResponse"},"examples":{"application/json":{"owner":"sya","id":"trumpworld","title":"TrumpWorld","description":"TrumpWorld Data","summary":"From the Buzzfeed article [Help Us Map TrumpWorld](https://www.buzzfeed.com/johntemplon/help-us-map-trumpworld)\n>No American president has taken office with a giant network of businesses, investments, and corporate connections like that amassed by Donald J. Trump. His family and advisers have touched a staggering number of ventures, from a hotel in Azerbaijan to a poker company in Las Vegas.\n\n\nCheck out the data.world docs on how to Upload & sync files from [**Google Sheets**](https://docs.data.world/documentation/api/googleSync.html) and [**Github**](https://docs.data.world/documentation/api/githubSync.html)   \n\n\nSource: [github.com/BuzzFeedNews](https://github.com/BuzzFeedNews/trumpworld/tree/master/data)   \n\n_If you have suggestions for expanding or improving the dataset, please email trump@buzzfeed.com. If you’d like to send your tip securely and anonymously, see these [instructions](https://tips.buzzfeed.com/)._","tags":["trump","trump world","president","connections","swamp","business network"],"visibility":"OPEN","files":[{"name":"org-org-connections.csv","sizeInBytes":97658,"source":{"id":"bfbac3bb-9cec-410a-9ac4-c904a56d65fe","url":"https://raw.githubusercontent.com/BuzzFeedNews/trumpworld/master/data/org-org-connections.csv","syncStatus":"OK","lastSyncStart":"2017-02-06T22:55:15.242Z","lastSyncSuccess":"2017-02-06T22:55:15.258Z","lastSyncFailure":"2017-02-01T23:47:47.667Z"},"created":"2017-02-01T23:45:12.379Z","updated":"2017-02-03T16:05:03.241Z"},{"name":"person-org-connections.csv","sizeInBytes":231637,"source":{"id":"91cf66e3-4bd7-422f-a8ec-7de1b68f8ee1","url":"https://raw.githubusercontent.com/BuzzFeedNews/trumpworld/master/data/person-org-connections.csv","syncStatus":"OK","lastSyncStart":"2017-02-06T22:55:15.242Z","lastSyncSuccess":"2017-02-06T22:55:15.310Z"},"created":"2017-02-01T23:51:02.777Z","updated":"2017-02-03T16:05:03.241Z"},{"name":"person-person-connections.csv","sizeInBytes":32556,"source":{"id":"b1e0659b-c282-408a-893a-14b5e5a1ae4c","url":"https://raw.githubusercontent.com/BuzzFeedNews/trumpworld/master/data/person-person-connections.csv","syncStatus":"OK","lastSyncStart":"2017-02-06T22:55:15.242Z","lastSyncSuccess":"2017-02-06T22:55:15.361Z"},"created":"2017-02-01T23:51:32.492Z","updated":"2017-02-03T16:05:03.241Z"}],"status":"LOADED","created":"2017-02-01T22:33:58.809Z","updated":"2017-02-06T22:55:19.128Z","isProject":false,"accessLevel":"READ"}}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"put":{"tags":["datasets"],"summary":"Create / Replace a dataset","description":"Create a dataset with a given id or completely rewrite the dataset, including any previously added files, if one already exists with the given id.","operationId":"replaceDataset","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/DatasetPutRequest"},"x-examples":{"application/json":"{\n  \"description\": \"2017 data.world basketball program\",\n  \"summary\": \"Fake data.world basketball team players and stats. Includes 2016 and 2017 team\",\n  \"tags\": [\n    \"basketball\"\n  ],\n  \"visibility\": \"OPEN\",\n  \"files\": [\n    {\n      \"name\": \"DataDotWorld2017BBallTeam.csv\",\n      \"source\": {\n        \"url\": \"https://docs.google.com/spreadsheets/d/1UheyB6pxTCfLpRmIGITM0fKb8jHVEvPuajmuejxxRyE/pub?gid=1371600687&single=true&output=csv\"\n      },\n      \"description\": \"Purely fictitious performance data on our purely fictitious data.world basketball team.\",\n      \"labels\": [\n        \"raw data\", \"clean data\"\n      ]\n    }\n  ]\n}"}}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"},"examples":{"application/json":"{\n  \"message\": \"Dataset has been successfully replaced.\"\n}"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"delete":{"tags":["datasets"],"summary":"Delete a dataset","description":"Permanently deletes a dataset and all data associated with it. This operation cannot be undone, although a new dataset may be created with the same id.","operationId":"deleteDataset","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"},"examples":{"application/json":"{\n  \"message\": \"Dataset has been successfully deleted.\"\n}"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"patch":{"tags":["datasets"],"summary":"Update a dataset","description":"Update an existing dataset. Note that only elements or files included in the request will be updated. All omitted elements or files will remain untouched.","operationId":"patchDataset","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/DatasetPatchRequest"},"x-examples":{"application/json":"{\r\n  \"description\": \"2017 data.world basketball program\",\r\n  \"summary\": \"Fake data.world basketball team players and stats. Includes 2016 and 2017 team\",\r\n  \"tags\": [\r\n    \"basketball\"\r\n  ],\r\n  \"files\": [\r\n    {\r\n      \"name\": \"DataDotWorld2017BBallTeam.csv\",\r\n      \"source\": {\r\n        \"url\": \"https://docs.google.com/spreadsheets/d/1UheyB6pxTCfLpRmIGITM0fKb8jHVEvPuajmuejxxRyE/pub?gid=1371600687&single=true&output=csv\"\r\n      },\r\n      \"description\": \"Purely fictitious performance data on our purely fictitious data.world basketball team.\",\r\n      \"labels\": [\r\n        \"raw data\", \"clean data\"\r\n      ]\r\n    }\r\n  ]\r\n}"}}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"},"examples":{"application/json":"{\n  \"message\": \"Dataset successfully updated.\"\n}"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/datasets/{owner}/{id}/files":{"post":{"tags":["datasets"],"summary":"Add files","description":"This method allows files published on the web to be added to a data.world dataset via their URL. The source URL will be stored so you can easily update your file anytime it changes via the *fetch latest* link on the [data.world](https://data.world/) dataset page or by triggering the GET:/sync endpoint.  \nCheck-out or tutorials for tips on how to add Google Sheets, GitHub and S3 files via URL and how to use webhooks or scripts to keep them always in sync.","operationId":"addFilesBySource","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/FileBatchUpdateRequest"},"x-examples":{"application/json":"{\n  \"files\": [\n    {\n      \"name\": \"DataDotWorldBBallTeam.csv\",\n      \"source\": {\n        \"url\": \"https://docs.google.com/spreadsheets/d/1UheyB6pxTCfLpRmIGITM0fKb8jHVEvPuajmuejxxRyE/pub?gid=1371600687&single=true&output=csv\"\n      },\n      \"description\": \"Purely fictitious performance data on our purely fictitious data.world basketball team.\",\n      \"labels\": [\n        \"raw data\",\n        \"clean data\"\n      ]\n    },\n    {\n      \"name\": \"DataDotWorldBBallStats.csv\",\n      \"source\": {\n        \"url\": \"https://raw.githubusercontent.com/rebeccaclay/test-repo/master/DataDotWorldBBallStats.csv\"\n      },\n      \"description\": \"Stats about about our purely fictitious basketball team\",\n      \"labels\": [\n        \"raw data\",\n        \"clean data\"\n      ]\n    }\n  ]\n}"}}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"},"examples":{"application/json":"{\n  \"message\": \"Dataset has been successfully updated with new sources. Sync in progress.\"\n}"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"delete":{"tags":["datasets"],"summary":"Delete files","description":"Delete one or more files from a dataset by their name, including files added via URL.   \n\n**Batching**  \nNote that the `name` parameter can be include multiple times in the query string, once for each file that is to be deleted together in a single request.","operationId":"deleteFilesAndSyncSources","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"name","in":"query","description":"Names of files to be deleted. Multiple can be provided in a single request by repeating the query string parameter name as many times as necessary.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"},"examples":{"application/json":"{\n  \"message\": \"Dataset files have been successfully deleted.\"\n}"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/datasets/{owner}/{id}/files/{name}":{"delete":{"tags":["datasets"],"summary":"Delete a file","description":"Delete a single file from a dataset by their name, including files added via URL.","operationId":"deleteFileAndSyncSource","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"name","in":"path","description":"Name and unique idenfiier of file within the dataset.","required":true,"type":"string","maxItems":128,"minItems":1}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"},"examples":{"application/json":"{\n  \"message\": \"Dataset file has been successfully deleted.\"\n}"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/datasets/{owner}/{id}/sync":{"get":{"tags":["datasets"],"summary":"Sync files (via GET)","description":"Update all files within a dataset that have originally been added via URL (e.g. via /datasets endpoints or on data.world). \nCheck-out or tutorials for tips on how to add Google Sheets, GitHub and S3 files via URL and how to use webhooks or scripts to keep them always in sync.","operationId":"syncViaGet","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"},"examples":{"application/json":"{\n  \"message\": \"Sync started.\"\n}"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"post":{"tags":["datasets"],"summary":"Sync files","description":"Update all files within a dataset that have originally been added via URL (e.g. via /datasets endpoints or on data.world).  \nCheck-out or tutorials for tips on how to add Google Sheets, GitHub and S3 files via URL and how to use webhooks or scripts to keep them always in sync.","operationId":"sync","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"},"examples":{"application/json":"{\n  \"message\": \"Sync started.\"\n}"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/download/{owner}/{id}":{"get":{"tags":["download"],"summary":"Download dataset","description":"This endpoint will return a .zip containing all files within the dataset as originally uploaded.  \nIf you are interested retrieving clean data extracted from those files by data.world, check out `GET:/sql` and `GET:/sparql`.","operationId":"downloadDataset","produces":["application/zip"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"__OK__\nThe request has succeeded."},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/file_download/{owner}/{id}/{file}":{"get":{"tags":["download"],"summary":"Download file","description":"This endpoint will return a file within the dataset as originally uploaded.  \nIf you are interested retrieving clean data extracted from those files by data.world, check out `GET:/sql` and `GET:/sparql`.","operationId":"downloadFile","parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"file","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"__OK__\nThe request has succeeded."},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/insights/{projectOwner}/{projectId}":{"get":{"tags":["insights"],"summary":"Get insights for project.","description":"Get insights for a project.","operationId":"getInsightsForProject","produces":["application/json"],"parameters":[{"name":"projectOwner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"projectId","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"limit","in":"query","description":"Maximum number of items to include in a page of results.","required":false,"type":"string"},{"name":"next","in":"query","description":"Token from previous result page to be used when requesting a subsequent page.","required":false,"type":"string"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/PaginatedInsightResults"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"post":{"tags":["insights"],"summary":"Create an insight","description":"Create a new insight.","operationId":"createInsight","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/InsightCreateRequest"}},{"name":"projectOwner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"projectId","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/CreateInsightResponse"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/insights/{projectOwner}/{projectId}/{id}":{"get":{"tags":["insights"],"summary":"Retrieve an insight","description":"Retrieve an insight.","operationId":"getInsight","produces":["application/json"],"parameters":[{"name":"projectOwner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"projectId","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Insight unique identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/InsightSummaryResponse"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"put":{"tags":["insights"],"summary":"Replace an insight","description":"Replace an insight.","operationId":"replaceInsight","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/InsightPutRequest"}},{"name":"projectOwner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"projectId","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Insight unique identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"delete":{"tags":["insights"],"summary":"Delete an insight","description":"Delete an existing insight.","operationId":"deleteInsight","produces":["application/json"],"parameters":[{"name":"projectOwner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"projectId","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Insight unique identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"patch":{"tags":["insights"],"summary":"Update an insight","description":"Update an insight. Note that only elements included in the request will be updated. All omitted elements will remain untouched.","operationId":"updateInsight","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/InsightPatchRequest"}},{"name":"projectOwner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"projectId","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Insight unique identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/projects/{owner}":{"post":{"tags":["projects"],"summary":"Create a project","description":"Create a new project.","operationId":"createProject","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ProjectCreateRequest"}},{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/CreateProjectResponse"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/projects/{owner}/{id}":{"get":{"tags":["projects"],"summary":"Retrieve a project","description":"Return details on a project.","operationId":"getProject","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Project unique identifier.\nFor example, in the URL:[https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), how-to-add-depth-to-your-data-with-the-us-census-acs is the unique identifier of the project.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/ProjectSummaryResponse"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"put":{"tags":["projects"],"summary":"Create / Replace a project","description":"Create a project with a given id or completely rewrite the project, including any previously added files or linked datasets, if one already exists with the given id.","operationId":"replaceProject","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ProjectCreateRequest"}},{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Project unique identifier.\nFor example, in the URL:[https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), how-to-add-depth-to-your-data-with-the-us-census-acs is the unique identifier of the project.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/ProjectPutRequest"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"delete":{"tags":["projects"],"summary":"Delete a project","description":"Permanently deletes a project and all data associated with it. This operation cannot be undone, although a new project may be created with the same id.","operationId":"deleteProject","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Project unique identifier.\nFor example, in the URL:[https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), how-to-add-depth-to-your-data-with-the-us-census-acs is the unique identifier of the project.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"patch":{"tags":["projects"],"summary":"Update a project","description":"Update an existing project. Note that only elements, files or linked datasets included in the request will be updated. All omitted elements, files or linked datasets will remain untouched.","operationId":"patchProject","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ProjectPatchRequest"}},{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Project unique identifier.\nFor example, in the URL:[https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), how-to-add-depth-to-your-data-with-the-us-census-acs is the unique identifier of the project.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"}],"responses":{"200":{"description":"**OK**\nThe request has succeeded.","schema":{"$ref":"#/definitions/SuccessMessage"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/projects/{owner}/{id}/linkedDatasets/{linkedDatasetOwner}/{linkedDatasetId}":{"put":{"tags":["projects"],"summary":"Link dataset","description":"Remove a linked dataset from a project.","operationId":"addLinkedDataset","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Project unique identifier.\nFor example, in the URL:[https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), how-to-add-depth-to-your-data-with-the-us-census-acs is the unique identifier of the project.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"linkedDatasetOwner","in":"path","required":true,"type":"string"},{"name":"linkedDatasetId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/LinkedDatasetCreateOrUpdateRequest"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"delete":{"tags":["projects"],"summary":"Unlink dataset","description":"Add a linked dataset to a project.","operationId":"removeLinkedDataset","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a project.\nFor example, in the URL: [https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), government is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Project unique identifier.\nFor example, in the URL:[https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs](https://data.world/government/how-to-add-depth-to-your-data-with-the-us-census-acs), how-to-add-depth-to-your-data-with-the-us-census-acs is the unique identifier of the project.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"linkedDatasetOwner","in":"path","required":true,"type":"string"},{"name":"linkedDatasetId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/SuccessMessage"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/sparql/{owner}/{id}":{"get":{"tags":["sparql"],"summary":"SPARQL query (via GET)","description":"This endpoint executes SPARQL queries against a dataset or data project.\n\nSPARQL results are available in a variety of formats. By default, `application/sparql-results+json` will be returned. Set the `Accept` header to one of the following values in accordance with your preference:\n\n- `application/sparql-results+xml`\n- `application/sparql-results+json`\n- `application/rdf+json`\n- `application/rdf+xml`\n- `text/csv`\n- `text/tab-separated-values`\n\nNew to SPARQL? Check out data.world’s[SPARQL tutorial](https://docs.data.world/tutorials/sparql/).","operationId":"sparqlGet","produces":["application/sparql-results+json","application/sparql-results+xml","application/rdf+json","application/rdf+xml","text/tab-separated-values","text/csv"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"query","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"__OK__\nThe request has succeeded."},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"post":{"tags":["sparql"],"summary":"SPARQL query","description":"This endpoint executes SPARQL queries against a dataset or data project.  \n\nSPARQL results are available in a variety of formats. By default, `application/sparql-results+json` will be returned. Set the `Accept` header to one of the following values in accordance with your preference:\n\n- `application/sparql-results+xml`\n- `application/sparql-results+json`\n- `application/rdf+json`\n- `application/rdf+xml`\n- `text/csv`\n- `text/tab-separated-values`\n\nNew to SPARQL? Check out data.world's [SPARQL tutorial](https://docs.data.world/tutorials/sparql/).","operationId":"sparqlPost","consumes":["application/x-www-form-urlencoded"],"produces":["application/sparql-results+json","application/sparql-results+xml","application/rdf+json","application/rdf+xml","text/tab-separated-values","text/csv"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"query","in":"formData","required":true,"type":"string"}],"responses":{"200":{"description":"__OK__\nThe request has succeeded.","examples":{"application/x-www-form-urlencoded":"{}"}},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]}},"/sql/{owner}/{id}":{"get":{"tags":["sql"],"summary":"SQL query (via GET)","description":"This endpoint executes SQL queries against a dataset.\n\nSQL results are available in a variety of formats. By default, `application/json` will be returned. Set the `Accept` header to one of the following values in accordance with your preference:\n\n* `text/csv`\n* `application/json`\n* `application/json-l`\n* `application/x-ndjson`\n\nNew to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .","operationId":"sqlGet","produces":["application/json","application/json-l","application/x-ndjson","text/csv"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"query","in":"query","required":true,"type":"string"},{"name":"includeTableSchema","in":"query","description":"Flags indicating to include table schema in the response.","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"__OK__\nThe request has succeeded."},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorMessage"}}},"security":[{"token":[]}]},"post":{"tags":["sql"],"summary":"SQL query","description":"This endpoint executes SQL queries against a dataset.\n\nSQL results are available in a variety of formats. By default, `application/json` will be returned. Set the `Accept` header to one of the following values in accordance with your preference:\n\n* `text/csv`\n* `application/json`\n* `application/json-l`\n* `application/x-ndjson`\n\nNew to SQL? Check out data.world's [SQL manual](https://docs.data.world/tutorials/dwsql/) .","operationId":"sqlPost","consumes":["application/x-www-form-urlencoded"],"produces":["application/json","application/json-l","application/x-ndjson","text/csv"],"parameters":[{"name":"owner","in":"path","description":"User name and unique identifier of the creator of a dataset or project.\nFor example, in the URL: [https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), jonloyens is the unique identifier of the owner.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"id","in":"path","description":"Dataset unique identifier.\nFor example, in the URL:[https://data.world/jonloyens/an-intro-to-dataworld-dataset](https://data.world/jonloyens/an-intro-to-dataworld-dataset), an-intro-to-dataworld-dataset is the unique identifier of the dataset.","required":true,"type":"string","pattern":"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]"},{"name":"query","in":"formData","required":true,"type":"string"},{"name":"includeTableSchema","in":"query","description":"Flags indicating to include table schema in the response.","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"__OK__\nThe request has succeeded."},"400":{"description":"**BAD REQUEST**\nThe server cannot or will not process the request due to something that is perceived to be a client error.\nFor example, this error may occur when the request doesn’t satisfy validation rules. See response for additional details.","schema":{"$ref":"#/definitions/ErrorMessage"}},"401":{"description":"**UNAUTHORIZED**\nThe request has not been applied because it lacks valid authentication credentials for the target resource.\nFor example, this may occur if a token is invalid or hasn’t been provided. Make sure that you have a valid token and that is provided via the `Authorization` header including the `Bearer` prefix. For example, if your token is `xyz`, your header should be `Authorization: Bearer xyz`.","schema":{"$ref":"#/definitions/ErrorMessage"}},"403":{"description":"**FORBIDDEN**\nThe server understood the request but refuses to authorize it.\nFor example, this error may occur you are not authorized to perform this operation.","schema":{"$ref":"#/definitions/ErrorMessage"}},"404":{"description":"**NOT FOUND**\nThe origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\nFor example, this error may occur when the URL is invalid.","schema":{"$ref":"#/definitions/ErrorMessage"}},"422":{"description":"**UNPROCESSABLE ENTITY**\nThe server understands the content type of the request entity and the syntax of the request entity is correct, but was unable to process the contained instructions.\nFor example, this error may occur if the JSON body of the request doesn't match the expected schema.","schema":{"$ref":"#/definitions/ErrorMessage"}},"500":{"description":"**INTERNAL SERVER ERROR**\nThe server encountered an unexpected condition that prevented it from fulfilling the request.
[...]
