{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is the internal version of the Swagger API generated from the Java\n                                            resource objects and is not visible to external users. It must be a superset\n                                            of the more user-friendly Swagger API maintained manually at\n                                            https://github.com/datadotworld/dwapi-spec.",
    "version" : "0.21.0",
    "title" : "data.world Public API (internal version)"
  },
  "host" : "api.data.world",
  "basePath" : "/v0",
  "tags" : [ {
    "name" : "DOIs"
  }, {
    "name" : "cancel"
  }, {
    "name" : "connections"
  }, {
    "name" : "datasets"
  }, {
    "name" : "describe"
  }, {
    "name" : "download"
  }, {
    "name" : "insights"
  }, {
    "name" : "metadata"
  }, {
    "name" : "metadata/analysis"
  }, {
    "name" : "metadata/collections"
  }, {
    "name" : "metadata/data/sources"
  }, {
    "name" : "metadata/glossary"
  }, {
    "name" : "metadata/relationships"
  }, {
    "name" : "partners"
  }, {
    "name" : "projects"
  }, {
    "name" : "properties"
  }, {
    "name" : "queries"
  }, {
    "name" : "requests"
  }, {
    "name" : "search"
  }, {
    "name" : "serviceaccount"
  }, {
    "name" : "sparql"
  }, {
    "name" : "sql"
  }, {
    "name" : "streams"
  }, {
    "name" : "uploads"
  }, {
    "name" : "user"
  }, {
    "name" : "users"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/cancel" : {
      "post" : {
        "tags" : [ "cancel" ],
        "summary" : "Cancel a query",
        "description" : "",
        "operationId" : "cancel",
        "parameters" : [ {
          "name" : "queryruntoken",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/connections/{owner}" : {
      "get" : {
        "tags" : [ "connections" ],
        "summary" : "Get connections by owner.",
        "description" : "",
        "operationId" : "getConnectionsByOwner",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved connections",
            "schema" : {
              "$ref" : "#/definitions/PaginatedConnectionResults"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "connections" ],
        "summary" : "Create a new connection.",
        "description" : "",
        "operationId" : "createConnection",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ConnectionDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Connection created successfully.",
            "schema" : {
              "$ref" : "#/definitions/CreateResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/connections/{owner}/{id}" : {
      "get" : {
        "tags" : [ "connections" ],
        "summary" : "Get an individual connection",
        "description" : "",
        "operationId" : "getConnection",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ConnectionDto"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "connections" ],
        "summary" : "Delete a Connection.",
        "description" : "",
        "operationId" : "deleteConnection",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Connection has been successfully deleted.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/search" : {
      "get" : {
        "tags" : [ "datasets" ],
        "summary" : "Search for datasets.",
        "description" : "",
        "operationId" : "search",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "next",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved dataset",
            "schema" : {
              "$ref" : "#/definitions/PaginatedDatasetResults"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}" : {
      "get" : {
        "tags" : [ "datasets" ],
        "summary" : "Gets datasets by owner.",
        "description" : "",
        "operationId" : "getDatasetsByOwner",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "next",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved dataset",
            "schema" : {
              "$ref" : "#/definitions/PaginatedDatasetResults"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "datasets" ],
        "summary" : "Create a new dataset.",
        "description" : "",
        "operationId" : "createDataset",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DatasetCreateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dataset created successfully.",
            "schema" : {
              "$ref" : "#/definitions/CreateDatasetResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}" : {
      "get" : {
        "tags" : [ "datasets" ],
        "summary" : "Retrieve a dataset.",
        "description" : "",
        "operationId" : "getDataset",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved dataset",
            "schema" : {
              "$ref" : "#/definitions/DatasetSummaryResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "datasets" ],
        "summary" : "Replace an existing dataset or create a new dataset",
        "description" : "",
        "operationId" : "replaceDataset",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DatasetPutRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dataset replaced successfully.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "datasets" ],
        "summary" : "Delete a dataset.",
        "description" : "",
        "operationId" : "deleteDataset",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Dataset has been successfully deleted.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "datasets" ],
        "summary" : "Update an existing dataset.",
        "description" : "",
        "operationId" : "patchDataset",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DatasetPatchRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dataset updated successfully.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/dois/{doi}" : {
      "put" : {
        "tags" : [ "DOIs" ],
        "summary" : "Create dataset DOI",
        "description" : "",
        "operationId" : "addDoi",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "doi",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DOI successfully added to dataset.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "DOIs" ],
        "summary" : "Delete dataset DOI",
        "description" : "",
        "operationId" : "deleteDoi",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "doi",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DOI successfully removed from dataset.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/files" : {
      "post" : {
        "tags" : [ "datasets" ],
        "summary" : "Add or update files for a dataset.",
        "description" : "",
        "operationId" : "addFilesBySource",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FileBatchUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dataset successfully updated with new sources. Sync in progress.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "datasets" ],
        "summary" : "Delete files for a dataset.",
        "description" : "",
        "operationId" : "deleteFilesAndSyncSources",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Dataset file(s) have been successfully deleted.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/files/{file}" : {
      "delete" : {
        "tags" : [ "datasets" ],
        "summary" : "Delete a single file for a dataset.",
        "description" : "",
        "operationId" : "deleteFileAndSyncSource",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "file",
          "in" : "path",
          "description" : "Filename",
          "required" : true,
          "type" : "string",
          "maxItems" : 128,
          "minItems" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Dataset file(s) have been successfully deleted.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/files/{file}/metadata" : {
      "get" : {
        "tags" : [ "datasets" ],
        "summary" : "Get file description and labels",
        "description" : "Get file description and labels",
        "operationId" : "getFileMetadata",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "file",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved metadata of file.",
            "schema" : {
              "$ref" : "#/definitions/FileMetadataResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "datasets" ],
        "summary" : "Replace file description and labels",
        "description" : "Replace file description and labels",
        "operationId" : "putFileMetadata",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "file",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FileMetadataUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully replaced metadata of file.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "datasets" ],
        "summary" : "Update file description and labels",
        "description" : "Update file description and labels",
        "operationId" : "patchFileMetadata",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "file",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FileMetadataUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully updated metadata of file.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/queries" : {
      "get" : {
        "tags" : [ "datasets" ],
        "summary" : "Retrieve queries saved in a dataset.",
        "description" : "",
        "operationId" : "getDatasetQueries",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "next",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved queries saved in a dataset.",
            "schema" : {
              "$ref" : "#/definitions/PaginatedQueryResults"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "datasets" ],
        "summary" : "Create a saved query for a dataset",
        "description" : "",
        "operationId" : "createSavedQuery",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateQueryRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully created saved query.",
            "schema" : {
              "$ref" : "#/definitions/QuerySummaryResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/queries/{queryId}" : {
      "put" : {
        "tags" : [ "datasets" ],
        "summary" : "Update a saved query for a dataset",
        "description" : "",
        "operationId" : "updateSavedQuery",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "queryId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/QueryPutRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully updated saved query.",
            "schema" : {
              "$ref" : "#/definitions/QuerySummaryResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "datasets" ],
        "summary" : "Delete a saved query for a dataset",
        "description" : "",
        "operationId" : "deleteSavedQuery",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "queryId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted saved query.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/sync" : {
      "get" : {
        "tags" : [ "datasets" ],
        "summary" : "Fetch latest files from source and update dataset — via GET, for convenience.",
        "description" : "",
        "operationId" : "syncViaGet",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Sync started.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "429" : {
            "description" : "Too many requests",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "datasets" ],
        "summary" : "Fetch latest files from source and update dataset.",
        "description" : "",
        "operationId" : "sync",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Sync started.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "429" : {
            "description" : "Too many requests",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/tables" : {
      "post" : {
        "tags" : [ "datasets" ],
        "summary" : "Add or update tables for a dataset.",
        "description" : "",
        "operationId" : "addTables",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TableBatchUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dataset successfully updated with new sources. Sync in progress.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/v/{versionId}" : {
      "get" : {
        "tags" : [ "datasets" ],
        "summary" : "Retrieve a dataset by version.",
        "description" : "",
        "operationId" : "getDatasetByVersion",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "versionId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved dataset version",
            "schema" : {
              "$ref" : "#/definitions/DatasetSummaryResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/datasets/{owner}/{id}/v/{versionId}/dois/{doi}" : {
      "put" : {
        "tags" : [ "DOIs" ],
        "summary" : "Create dataset version DOI",
        "description" : "",
        "operationId" : "addVersionDoi",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "versionId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "doi",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DOI successfully added to dataset version.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "DOIs" ],
        "summary" : "Delete dataset version DOI",
        "description" : "",
        "operationId" : "deleteVersionDoi",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "versionId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "doi",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DOI successfully removed from dataset version.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/describe" : {
      "get" : {
        "tags" : [ "describe" ],
        "summary" : "SPARQL DESCRIBE query",
        "description" : "This endpoint executes a SPARQL DESCRIBE query, given an IRI.\n.",
        "operationId" : "queryViaGet",
        "produces" : [ "text/tab-separated-values", "application/rdf+json", "application/rdf+xml", "text/csv", "application/sparql-results+xml", "text/turtle", "application/sparql-results+json" ],
        "parameters" : [ {
          "name" : "iri",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "format" : "uri"
        }, {
          "name" : "queryruntoken",
          "in" : "query",
          "description" : "Query token to use with cancel",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "namespace",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded."
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/download/{owner}/{id}" : {
      "get" : {
        "tags" : [ "download" ],
        "summary" : "Download dataset",
        "description" : "This endpoint will return a .zip of all files within the dataset.\"",
        "operationId" : "downloadDataset",
        "produces" : [ "application/zip" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "maxItems" : 32,
          "minItems" : 0
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded."
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/file_download/{owner}/{id}/{file}" : {
      "get" : {
        "tags" : [ "download" ],
        "summary" : "Download file",
        "description" : "This endpoint will return the file from the latest dataset version.",
        "operationId" : "downloadFile",
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "maxItems" : 32,
          "minItems" : 0
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "file",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded."
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/insights/{projectOwner}/{projectId}" : {
      "get" : {
        "tags" : [ "insights" ],
        "summary" : "Get insights for project.",
        "description" : "",
        "operationId" : "getInsightsForProject",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "projectOwner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "next",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved project insights",
            "schema" : {
              "$ref" : "#/definitions/PaginatedInsightResults"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "insights" ],
        "summary" : "Create new insight for a project.",
        "description" : "",
        "operationId" : "createInsight",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "projectOwner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InsightCreateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Insight created successfully.",
            "schema" : {
              "$ref" : "#/definitions/CreateInsightResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/insights/{projectOwner}/{projectId}/{id}" : {
      "get" : {
        "tags" : [ "insights" ],
        "summary" : "Retrieve a project insight.",
        "description" : "",
        "operationId" : "getInsight",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "projectOwner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved insight",
            "schema" : {
              "$ref" : "#/definitions/InsightSummaryResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "insights" ],
        "summary" : "Replace an existing insight or create a new insight.",
        "description" : "",
        "operationId" : "replaceInsight",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "projectOwner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InsightPutRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Insight replaced successfully.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "insights" ],
        "summary" : "Delete an insight.",
        "description" : "",
        "operationId" : "deleteInsight",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "projectOwner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Insight has been successfully deleted.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "insights" ],
        "summary" : "Update an existing insight.",
        "description" : "",
        "operationId" : "updateInsight",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "projectOwner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InsightPatchRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Insight updated successfully.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/insights/{projectOwner}/{projectId}/{id}/v/{versionId}" : {
      "get" : {
        "tags" : [ "insights" ],
        "summary" : "Retrieve a project insight by version.",
        "description" : "",
        "operationId" : "getInsightByVersion",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "projectOwner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "versionId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved insight by version.",
            "schema" : {
              "$ref" : "#/definitions/InsightSummaryResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/metadata/analysis/suggest/{owner}/{id}" : {
      "patch" : {
        "tags" : [ "metadata/analysis" ],
        "summary" : "suggest for an existing analysis",
        "description" : "",
        "operationId" : "suggestCatalogAnalysis",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MetadataSuggestRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Suggested changes to Analysis updated successfully.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/metadata/analysis/{owner}" : {
      "get" : {
        "tags" : [ "metadata/analysis" ],
        "summary" : "Gets metadata analysis by owner.",
        "description" : "",
        "operationId" : "getCatalogAnalysesByOwner",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "typelabel",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "typeiri",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved metadata analysis",
            "schema" : {
              "$ref" : "#/definitions/PaginatedMetadataResourceResults"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "metadata/analysis" ],
        "summary" : "Create a new analysis metadata.",
        "description" : "",
        "operationId" : "createCatalogAnalysis",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MetadataRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Analysis Metadata created successfully.",
            "schema" : {
              "$ref" : "#/definitions/CreateResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/metadata/analysis/{owner}/{id}" : {
      "get" : {
        "tags" : [ "metadata/analysis" ],
        "summary" : "Get an individual metadata analysis",
        "description" : "",
        "operationId" : "getCatalogAnalysis",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MetadataResourceDto"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "metadata/analysis" ],
        "summary" : "Replace an existing analysis",
        "description" : "",
        "operationId" : "replaceCatalogAnalysis",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MetadataRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Analysis replaced successfully.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "metadata/analysis" ],
        "summary" : "Delete an Analysis.",
        "description" : "",
        "operationId" : "deleteCatalogAnalysis",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Analysis has been successfully deleted.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "metadata/analysis" ],
        "summary" : "Update an existing analysis.",
        "description" : "",
        "operationId" : "patchCatalogAnalysis",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MetadataRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Analysis updated successfully.",
            "schema" : {
              "$ref" : "#/definitions/SuccessMessage"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "oauth" : [ ]
        } ]
      }
    },
    "/metadata/collections/{owner}" : {
      "get" : {
        "tags" : [ "metadata/collections" ],
        "summary" : "Gets collections owned by specified owner",
        "description" : "",
        "operationId" : "getCatalogs",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved collections",
            "schema" : {
              "$ref" : "#/definitions/PaginatedSearchResultsDto"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "token" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "metadata/collections" ],
        "summary" : "Creates a new collection",
        "description" : "",
        "operationId" : "createCatalog",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CatalogRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Collection created successfully.",
            "schema" : {
              "$ref" : "#/definitions/CreateResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "token" : [ ]
        } ]
      }
    },
    "/metadata/collections/{owner}/{id}" : {
      "get" : {
        "tags" : [ "metadata/collections" ],
        "summary" : "Gets a collection by ID",
        "description" : "",
        "operationId" : "getCatalog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved collection",
            "schema" : {
              "$ref" : "#/definitions/MetadataResourceDto"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "token" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "metadata/collections" ],
        "summary" : "Replaces a collection",
        "description" : "",
        "operationId" : "replaceCatalog",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CatalogRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Collection created successfully.",
            "schema" : {
              "$ref" : "#/definitions/CreateResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "token" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "metadata/collections" ],
        "summary" : "Deletes a collection",
        "description" : "",
        "operationId" : "deleteCatalog",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Collection created successfully.",
            "schema" : {
              "$ref" : "#/definitions/CreateResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "422" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          },
          "500" : {
            "description" : "Server error",
            "schema" : {
              "$ref" : "#/definitions/ErrorMessage"
            }
          }
        },
        "security" : [ {
          "token" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "metadata/collections" ],
        "summary" : "Updates a collection",
        "description" : "",
        "operationId" : "updateCatalog",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
[...]
